body {
    padding: 0;
    margin: 0;
}

main {
    width: fit-content;
    margin: auto;
    zoom: 120%;
}

dt {
    font-weight: bold;
}

.alert {
    width: 100%;
    margin: 0;
    padding: 10px;
    font-size: 24px;
    color: white;
    text-align: center;
}
